{{#section 'css'}}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/css/fileinput.min.css" media="all"
  rel="stylesheet" type="text/css" />
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.2.2/dist/select2-bootstrap4.min.css">
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.2.5/jquery.bootstrap-touchspin.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.3/themes/fa/theme.min.js"></script>
<script
  src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
  $(function () {
    $('select').select2({
      theme: 'bootstrap4',
      minimumResultsForSearch: Infinity
    });

    $('#fuMain').fileinput({
      theme: 'fa',
      dropZoneEnabled: false,

      allowedFileTypes: ['image', 'video'],
      // allowedFileExtensions: ['png', 'jpg', 'gif'],
      // allowedFileExtensions: ['txt', 'md', 'ini', 'text'],
      maxFilePreviewSize: 10240, // 10 MB
      // previewFileType: 'md',
      // previewClass: 'bg-warning'

      // minFileCount: 2,
      maxFileCount: 3,

      // showPreview: false
      // showUpload: false,
      // showRemove: false,
      // showCaption: false,
      // msgPlaceholder: 'Select {files} for uploading...'

      // mainClass: 'input-group-sm'
      // browseClass: 'btn btn-success',
      // browseLabel: 'Pick Image',
      // removeClass: 'btn btn-danger',
      // removeLabel: 'Delete',
      uploadClass: 'btn btn-info',
      // uploadLabel: 'Upload',

      uploadUrl: '/upload',
      uploadAsync: false,
    });

    tinymce.init({
      selector: '#txtFullDes',
      menubar: false,
      height: 600,
      plugins: 'paste image link autolink lists table media',
      toolbar: [
        'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
        'forecolor backcolor',
        'table link image media',
        // 'paste'
      ],
      image_caption: true,
    });

    $('#txtPrice').TouchSpin({
      buttondown_class: 'btn btn-outline-primary',
      buttonup_class: 'btn btn-outline-primary',
      min: 0,
      max: 999999999,
      // step: 1000,
      verticalbuttons: true,
      callback_before_calculation: function (v) {
        return numeral(v).value();
      },
      callback_after_calculation: function (v) {
        return numeral(v).format('0,0');
      }
    });

    $('#txtQuantity').TouchSpin({
      buttondown_class: 'btn btn-outline-primary',
      buttonup_class: 'btn btn-outline-primary',
      verticalbuttons: true,
      min: 1
    });
  });
</script>
{{/section}}

<form action="" method="POST">
  <div class="card shadow">
    <h5 class="card-header">
      New Product
    </h5>
    <div class="card-body">
      <div class="row form-group">
        <label class="col-sm-2 col-form-label" for="txtProName">Product Name:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="txtProName" name="ProName" autofocus>
        </div>
        <label class="col-sm-2 col-form-label" for="selCatID">Category:</label>
        <div class="col-sm-4">
          <select class="form-control" id="selCatID" name="CatID">
            {{#each this.categories}}
            {{!-- <option data-icon="{{CatIcon}}" value="{{CatID}}">{{CatName}}</option> --}}
            <option value="{{CatID}}">{{CatName}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 col-form-label" for="txtPrice">Price:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control numeric" id="txtPrice" name="Price" value="0">
        </div>
        <label class="col-sm-2 col-form-label" for="txtQuantity">Quantity:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control numeric" id="txtQuantity" name="Quantity" value="1">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 col-form-label" for="fuMain">Main Photo:</label>
        <div class="col-sm-10">
          <div class="file-loading">
            <input id="fuMain" name="fuMain" type="file" multiple>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 col-form-label" for="txtTinyDes">Abstract:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="txtTinyDes" name="TinyDes">
        </div>
      </div>
      <div class="row form-group">
        <label class="col-sm-2 col-form-label" for="txtFullDes">Description:</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="txtFullDes" name="FullDes"></textarea>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <a class="btn btn-outline-primary" href="/" role="button" title="Back">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>