<div class="card shadow">
  <h5 class="card-header">
    Products
  </h5>
  <div class="card-body">
    {{#if this.error}}
    <div class="alert alert-danger" role="alert">
      Invalid categoryId. <a href="/" class="alert-link">Click here to go Home</a>.
    </div>
    {{else if this.empty}}
    No products.
    {{else}}
    <div class="row">
      {{#each this.products}}
      <div class="col-sm-4 mb-3">
        <div class="card shadow-sm h-100">
          <img class="card-img-top" src="/imgs/sp/{{ProID}}/main_thumbs.jpg" alt="{{ProName}}">
          <div class="card-body">
            <h6 class="card-title">{{ProName}}</h6>
            <h5 class="card-title text-danger">{{format Price}}</h5>
            <p class="card-text">{{TinyDes}}</p>
          </div>
          <div class="card-footer">
            <a href="/products/{{ProID}}" class="btn btn-outline-primary btn-sm" title="View details">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>
            {{#if ../isAuthenticated}}
            <a href="javascript:;" class="btn btn-outline-success btn-sm">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Add to cart
            </a>
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item {{#unless this.pgSettings.hasPrevPage }} disabled {{/unless}}">
              {{!-- <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a> --}}
              <a class="page-link" href="?page={{this.pgSettings.prevPage}}">Previous</a>
            </li>
            {{#each this.pgSettings.page_numbers}}
            <li class="page-item {{#if isCurrentPage }} active {{/if}}">
              <a class="page-link" href="?page={{value}}">{{value}}</a>
            </li>
            {{/each}}
            <li class="page-item {{#unless this.pgSettings.hasNextPage }} disabled {{/unless}}">
              <a class="page-link" href="?page={{this.pgSettings.nextPage}}">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    {{/if}}
  </div>
</div>