<div class="card shadow">
  <h5 class="card-header">
    Products
  </h5>
  <div class="card-body">
    {{#if this.empty}}
    No products.
    {{else}}
    <div class="row">
      {{#each this.products}}
      <div class="col-sm-4 mb-3">
        <div class="card shadow-sm h-100">
          <img class="card-img-top" src="/imgs/sp/{{ProID}}/main_thumbs.jpg" alt="{{ProName}}">
          <div class="card-body">
            <h6 class="card-title">{{ProName}}</h6>
            <h5 class="card-title text-danger">{{format Price}}</h5>
            <p class="card-text">{{TinyDes}}</p>
          </div>
          <div class="card-footer">
            <a href="javascript:;" class="btn btn-outline-primary btn-sm" title="View details">
              <i class="fa fa-eye" aria-hidden="true"></i>
              Details
            </a>
            <a href="javascript:;" class="btn btn-outline-success btn-sm">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Add to cart
            </a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="row">
      <div class="col-sm-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    {{/if}}
  </div>
</div>